@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
  margin: 0;
  padding: 0;
  font: var(--FS-M) var(--FF);
}

button {
  all: unset;
  cursor: pointer;
  background-color: var(--BTN-BG-COLOR);
}

html, body, #app{
  height: 100%;
  width: 100%;
}

#app{
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-input {
  display: flex;
  flex-grow: 1;
  height: 100%;
  font-size: var(--FS-L);
  outline: none;
  border: 1px dashed transparent;
  transition: border .5s;
  padding: 0 .5rem;
}

.default-input:focus {
  border: 1px dashed #000;
}

.default-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 3px;

  >img {
      max-width: 80%;
      max-height: 80%;
  }
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1/1;

  >img {
      max-width: 80%;
      max-height: 80%;
  }
}